.sidebar {
    background-color: white;
    color: black;
    padding-top: 20px;
}

.sidebar h4 {
    color: black;
}

.sidebar .list-group-item {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 500;
}

.sidebar .list-group-item:hover {
    background-color: #14A44D;
    cursor: pointer;
}

.sidebar .list-group-item.active {
    background-color: #14A44D;
    color: #fff;
}